<!-- SCRIPT
  ASSIGN size = 250
  IF width
    ASSIGN size = width
  ENDIF
-->

<svg style="display: block;" width="{{ size }}" height="{{ size }}" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M61.3636 25H25V225H61.3636V25Z" fill="currentcolor" />
  <path d="M115.909 25H79.5454V225H115.909V25Z" fill="currentcolor" />
  <path d="M170.455 25H134.091V225H170.455V25Z" fill="currentcolor" />
  <path d="M225 79.5454H188.636V225H225V79.5454Z" fill="currentcolor" />
  <path d="M225 25H188.636V61.3636H225V25Z" fill="currentcolor" />
</svg>
