*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  color: var(--color-text-secondary);
  background-color: var(--color-background-primary);
  font-family: var(--font-sans);
  font-weight: var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

pre,
code {
  font-family: var(--font-mono);
}

main {
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100%;
}

@media screen and (min-width: 600px) {
  .layout {
    grid-template-columns: 220px minmax(0, 1fr);
  }
}

@media screen and (min-width: 860px) {
  .layout {
    grid-template-columns: 280px minmax(0, 1fr);
  }
}

:root {
  --font-mono: "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  --font-regular: 400;
  --font-bold: 600;
  --font-display: 800;

  --color-background-primary: rgb(13, 17, 16);
  --color-background-secondary: rgb(28, 36, 34);
  --color-background-accent: rgb(10, 29, 23);
  --color-background-inverse: rgb(215, 220, 219);

  --color-text-primary: rgb(215, 220, 219);
  --color-text-secondary: rgb(169, 175, 173);
  --color-text-inverse: rgb(13, 17, 16);

  --color-border-primary: rgb(221, 221, 221);
  --color-border-secondary: rgb(204, 204, 204);
  --color-border-accent: rgba(0, 233, 163, 0.3);

  --color-accent-primary: rgb(0, 233, 163);
  --color-link: rgb(117, 162, 224);

  --main-container-max-width: 1360px;
  --main-article-max-width: calc(var(--main-container-max-width) * 0.75);
}

.reach-skip-nav-link {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  margin: -1px;
}

.site-header {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-background-primary);
}
.site-header .navigation {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.site-header .mobile_container {
  display: flex;
}
.site-header .mobile_container .logo > a {
  display: flex;
  align-items: center;
}
.site-header .mobile_container .logo > a > span {
  font-weight: var(--font-display);
  font-size: 0.9rem;
  margin-left: 8px;
}
.site-header .container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: var(--main-container-max-width);
  margin: 0 auto;
}
.site-header .container > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header .container > ul > li {
  line-height: 48px;
}
.site-header .container > ul > li > a {
  margin: 0 10px;
  padding: 0 15px;
  display: block;
  transition: background-color 150ms ease;
}
.site-header .container > ul > li > a:hover {
  background-color: var(--color-background-secondary);
}

.sidebar {
  display: none;
  position: sticky;
  top: 48px;
  overflow-y: hidden;
  background-color: var(--color-background-secondary);
  border-top-right-radius: 12px;
  max-height: calc(100vh - 48px);
  padding: 20px 0;
}
@media screen and (min-width: 600px) {
  .sidebar {
    display: block;
  }
}
.sidebar .container {
  padding: 0 10px;
}
.sidebar .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .list_item {
  position: relative;
  font-size: 0.9rem;
}
.sidebar .list_item:not(:first-child) {
  margin-top: 4px;
}
.sidebar .link {
  display: block;
  color: var(--color-text-secondary);
  padding: 8px 10px;
  transition: color 150ms ease;
}
.sidebar .link:hover {
  color: var(--color-text-primary);
}
.sidebar .link.active {
  font-weight: var(--font-bold);
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  border-radius: 8px;
}

.content {
  padding: 0 20px;
  min-height: calc(100vh - 48px);
}

#main-content {
  max-width: var(--main-article-max-width);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}
#main-content article > *:first-child {
  margin-top: 0;
}
#main-content hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color-border-accent);
  margin: 40px 0;
}
#main-content a {
  color: var(--color-link);
  text-decoration: underline;
}
#main-content a.external::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  background-color: currentColor;
  -webkit-mask: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%202C2.44772%202%202%202.44772%202%203V12C2%2012.5523%202.44772%2013%203%2013H12C12.5523%2013%2013%2012.5523%2013%2012V8.5C13%208.22386%2012.7761%208%2012.5%208C12.2239%208%2012%208.22386%2012%208.5V12H3V3L6.5%203C6.77614%203%207%202.77614%207%202.5C7%202.22386%206.77614%202%206.5%202H3ZM12.8536%202.14645C12.9015%202.19439%2012.9377%202.24964%2012.9621%202.30861C12.9861%202.36669%2012.9996%202.4303%2013%202.497L13%202.5V2.50049V5.5C13%205.77614%2012.7761%206%2012.5%206C12.2239%206%2012%205.77614%2012%205.5V3.70711L6.85355%208.85355C6.65829%209.04882%206.34171%209.04882%206.14645%208.85355C5.95118%208.65829%205.95118%208.34171%206.14645%208.14645L11.2929%203H9.5C9.22386%203%209%202.77614%209%202.5C9%202.22386%209.22386%202%209.5%202H12.4999H12.5C12.5678%202%2012.6324%202.01349%2012.6914%202.03794C12.7504%202.06234%2012.8056%202.09851%2012.8536%202.14645Z%22%20fill%3D%22currentColor%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)
    no-repeat 50% 50%;
  mask: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%202C2.44772%202%202%202.44772%202%203V12C2%2012.5523%202.44772%2013%203%2013H12C12.5523%2013%2013%2012.5523%2013%2012V8.5C13%208.22386%2012.7761%208%2012.5%208C12.2239%208%2012%208.22386%2012%208.5V12H3V3L6.5%203C6.77614%203%207%202.77614%207%202.5C7%202.22386%206.77614%202%206.5%202H3ZM12.8536%202.14645C12.9015%202.19439%2012.9377%202.24964%2012.9621%202.30861C12.9861%202.36669%2012.9996%202.4303%2013%202.497L13%202.5V2.50049V5.5C13%205.77614%2012.7761%206%2012.5%206C12.2239%206%2012%205.77614%2012%205.5V3.70711L6.85355%208.85355C6.65829%209.04882%206.34171%209.04882%206.14645%208.85355C5.95118%208.65829%205.95118%208.34171%206.14645%208.14645L11.2929%203H9.5C9.22386%203%209%202.77614%209%202.5C9%202.22386%209.22386%202%209.5%202H12.4999H12.5C12.5678%202%2012.6324%202.01349%2012.6914%202.03794C12.7504%202.06234%2012.8056%202.09851%2012.8536%202.14645Z%22%20fill%3D%22currentColor%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)
    no-repeat 50% 50%;
}
#main-content a:hover {
  text-decoration: none;
}
#main-content p,
#main-content ul,
#main-content ol {
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1rem;
}
#main-content ul {
  list-style-type: square;
  padding-left: 2.2em;
  margin-top: 0.4em;
}
#main-content ul > li {
  padding-left: 4px;
  margin-bottom: 6px;
}
#main-content h1 {
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  font-size: 2em;
  font-weight: var(--font-display);
}
#main-content h2 {
  font-size: 1.6rem;
  font-weight: var(--font-display);
}
#main-content h3 {
  font-size: 1.2rem;
}
#main-content h2,
#main-content h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
#main-content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1em;
}
#main-content p > code,
#main-content td code,
#main-content ul > code,
#main-content ol > code,
#main-content li > code {
  font-family: var(--font-mono);
  background-color: var(--color-background-accent);
  border: 1px solid var(--color-border-accent);
  padding: 0 6px;
  border-radius: 4px;
  color: var(--color-text-primary);
}
#main-content p > img {
  display: block;
  max-width: 100%;
  width: 100%;
}
#main-content pre {
  font-family: var(--font-mono);
  font-size: 0.9em;
}
#main-content pre * {
  font-family: var(--font-mono);
}
#main-content .pagination {
  display: flex;
  justify-content: space-between;
}
#main-content .pagination_card {
  min-width: 40%;
}
@media screen and (min-width: 600px) {
  #main-content .pagination_card {
    min-width: 200px;
  }
}
#main-content .pagination_card a {
  display: block;
  border: 1px solid var(--color-border-accent);
  padding: 12px;
  line-height: 1;
  border-radius: 8px;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: background-color 150ms ease;
}
#main-content .pagination_card a:hover {
  background-color: var(--color-background-secondary);
}
#main-content .pagination_card a > .label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 8px;
  color: var(--color-text-secondary);
}

footer {
  position: relative;
  padding: 40px 20px 80px;
}
footer nav {
  display: flex;
}
footer ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer li:not(:first-child) {
  margin-left: 10px;
}
footer a {
  color: var(--color-link);
}
footer a:hover {
  text-decoration: underline;
}
