.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.block h1 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: var(--font-display);
}

.block a {
  color: var(--color-link);
  text-decoration: underline;
}
