*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  color: var(--color-text-primary);
  background-color: var(--color-background-secondary);
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  padding: 4.5rem 0 3rem;
}

:root {
  --font-sans: "Lato", sans-serif;
  --font-serif: "Crimson Pro", serif;

  --color-background-primary: #ffffff;
  --color-background-secondary: #efefef;
  --color-background-inverse: #181818;

  --color-text-primary: #181818;
  --color-text-secondary: #363636;
  --color-text-inverse: #ffffff;

  --color-border-primary: #dddddd;
  --color-border-secondary: #cccccc;
}
